
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="en">

@Html.Action("_HeadPartial")

<body>

    @Html.Action("_NavbarPartial")

    @Html.Action("_QuickContactPartial")

    @Html.Action("_FeaturePartial")

    @Html.Action("_ServicePartial")

    @Html.Action("_SkillPartial")

    @Html.Action("_AwardPartial")

    @Html.Action("_TestimonialPartial")

    @Html.Action("_ClientPartial")

    @Html.Action("_ContactPartial")

    @Html.Action("_FooterPartial")

    @Html.Action("_ScriptPartial", "Contact")

</body>

</html>

