@model List<Portfolio.Models.Project>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<h2>Projec Listesi</h2>
@if (Model.Count() > 0)
{
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Proje Adı</th>
            <th>Kategori</th>
            <th>Github</th>
            <th>Detay</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
        @foreach (var item in Model)
        {
            count++;
            <tr>
                <td>@count</td>
                <td>@item.Title</td>
                <td>@item.Category.CategoryName</td>
                <td><a href="@item.ProjectURL" class="btn btn-outline-warning">Github</a></td>
                <td><a href="/Project/ProjectDetail/@item.ProjectID" class="btn btn-outline-secondary">Detaylar</a></td>
                <td><a href="#" onclick="return deleteProject('@item.ProjectID')" class="btn btn-outline-danger">Sil</a></td>
                <td><a href="/Project/UpdateProject/@item.ProjectID" class="btn btn-outline-success">Güncelle</a></td>
            </tr>
        }
    </table>
}
else
{
    <p>Proje Verisi Bulunmaktadır.</p>
}
<a href="/Project/AddProject/" class="btn btn-outline-primary">Yeni Proje Ekle</a>

<script>
    function deleteProject(id) {
        Swal.fire({
            title: 'Silmek istediğinize emin misiniz?',
            text: 'Bu öğeyi silerseniz geri alamazsınız!',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Sil',
            cancelButtonText: 'İptal'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = "/Project/DeleteProject?id=" + id;
            }
        });
    }
</script>