@model Portfolio.Models.About

@{
    ViewBag.Title = "UpdateAbout";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Hakkımda Güncelleme Sayfası</h2>
<form method="post">
    @Html.HiddenFor(x => x.AboutID, new { @class = "form-control" })
    <label>Giriş</label>
    @Html.TextBoxFor(x => x.Introduction, new { @class = "form-control" })
    <br />
    <label>Ad Soyad</label>
    @Html.TextBoxFor(x => x.NameSurname, new { @class = "form-control" })
    <br />
    <label>Başlık</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />
    <label>Açıklama</label>
    @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
    <br />
    <label>Resim</label>
    @Html.TextBoxFor(x => x.AboutImage, new { @class = "form-control" })
    <br />
    <button class="btn btn-outline-success">Güncelle</button>
</form>